*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:skyblue;
}
.playground{
    width:90vw;
    height: 90vh;
    border-radius: 20px;
    background-color:white;
    overflow: hidden;
    box-shadow: 0px 5px 10px white;
}
.console{
    width: 100%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
}
.title{
    font-size: 30px;
    padding: 20px;
}
.methods{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.label{
    margin: 15px;
    font-size: 19px;
    color: tomato;
}
.numberbx{
    font-size: 20px;
    padding-left: 1vw;
    height: 4vh;
    border-radius: 12px;
}
.method{
    margin: 10px;
    background-color: cadetblue;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    padding: 10px;
}
.showbox{
    width: 80%;
    height: 15%;
    background-color: white;
    border-radius: 12px;
    border: 1px solid black;
    font-size: 2vw;
    padding-left: 1vw;
    padding-right: 1vw;
    overflow:scroll;
}
.keyboard{
    width: 100%;
    height: 45vh;
    background-color:white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    padding: 10px;
    overflow: hidden;
}
.key{
    width: 9%;
    height: 15%;
    padding: 10px;
    background-color:blue;
    border-radius: 12px;
    font-size: 20px;
    box-shadow: 0px 3px 5px gray;
    margin: 4px;
}
.key:hover{
    background-color: wheat;
}
.method:hover{
    background-color: wheat;
    color: black;
}
.space{
    width: 20vw;
}
.number{
    background-color: tomato;
    color: white;
}
.capbtn{
    width: 10%;
    height: 15%;
    padding: 10px;
    background-color:blue;
    border-radius: 12px;
    font-size: 20px;
    box-shadow: 0px 3px 5px gray;
    margin: 4px;

}
#caps:checked ~ .key{
    text-transform: capitalize;
}
#caps:checked ~ .capbtn{
    background-color: tomato;
    color: white;
}